.dashboard {
  width: 100vw;
  height: 100%;
}
.nav-dashboard {
  width: 27vw;
  height: 100vh;
  background-color: var(--color-profile-2);
}
.nav-dashboard .logo-box .nav-bar {
  width: 100%;
}
.logo-box img {
  width: 70%;
  object-fit: contain;
}
.nav-bar img {
  width: 100%;
}
.dashboard-content {
  height: 100vh;
  background-color: rgb(237, 237, 237);
}
.dashboard-content .header {
  width: 83vw;
  height: 8.6rem;
  background-color: white;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.header h2 {
  font-size: 2.3rem;
  color: var(--color-profile-2);
  font-weight: 450;
  width: max-content;
}
.header .tabs {
  margin-top: 0.5rem;
  cursor: pointer;
}
.tabs p {
  font-size: 1.5rem;
  color: rgb(172, 169, 169);
  margin-right: 4rem;
  text-transform: uppercase;
  font-weight: 450;
}
.sign-out {
  font-size: 1.5rem;
  color: rgb(172, 169, 169);
  align-self: center;
  cursor: pointer;
}
.tabs .active-tab {
  color: var(--color-profile-1);
  border-bottom: 0.4rem solid var(--color-profile-1);
}

.frame {
  width: 85%;
}
