*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
:root {
  --color-profile-1: rgb(19, 19, 100);
  --color-profile-2: rgb(21, 21, 55);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins';
  font-weight: 300;
  letter-spacing: 0.02rem;
  background-color: white;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 56.25%;
  }
  body {
    font-family: 'Poppins';
    font-weight: 300;
    letter-spacing: 0.01rem;
    background-color: white;
  }
}
